<!DOCTYPE html>
<html>
<head>
    <title>RazorApp</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <h2>Comparison Options</h2>
            
            @using (Html.BeginForm("CollideTest", "Home"))
            {
                @Html.TextBox("rectangleOne")
                @Html.TextBox("rectangleTwo")
                <input type="submit" value="Do they collide?" />
            }

            @using (Html.BeginForm("ContainTest", "Home"))
            {
                @Html.TextBox("rectangleOne")
                @Html.TextBox("rectangleTwo")
                <input type="submit" value="Do they contain?" />
            }

            @using (Html.BeginForm("AdjacentTest", "Home"))
            {
                @Html.TextBox("rectangleOne")
                @Html.TextBox("rectangleTwo")
                <input type="submit" value="Are they adjacent?" />
            }
        </div>
    </div>
</body>
</html>


